.shedule {
  width: 100%;
}

.shedule__header {
  display: flex;
  background-color: $color-icon;
}

.shedule__title {
  width: 50%;
  text-align: center;
}

.shedule__wether {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.shedule__content {
  display: flex;
  justify-content: space-around;
}

.table {
  width: 100%;
}

td {
  padding-left: 30px;
}

h3 {
  color: $color-white-text;
}

.shedule__footer {
  display: flex;
  position: absolute;
  bottom: 200px;
}

.shedule__button {
  display: block;
}
