.popup {
  position: fixed;
  z-index: 1000;
  top: 150px;
  width: 250px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  background-color: $color-icon-active;
  font-family: Roboto;
}

.popup__header {
  padding: 0;
  margin: 0;
  background-color: $color-icon;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h3 {
  color: yellow;
}

.dep-arr-info {
  display: flex;
  justify-content: center;
}
